#empleados-container {
  margin-top: 150px;
}
#empleados-buscar-container {
  margin-top: 50px;
}
#empleados-crear-container {
  margin-top: 50px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
  float: left;
  margin-bottom: 20px;
}
.search-label {
  float: right;
  padding-bottom: 10xp;
}

.sr-only {
  font-size: 0;
}
#empleados-crear-container .form-label {
  float: left;
  margin-bottom: 50xp;
}
.signatureCanvas {
  border: 1px solid black;
  width: 100%;
  min-height: 500px;
}
