#empleados-container {
  margin-top: 150px;
  background-color: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
  font-family: Arial, sans-serif;
}
#empleados-buscar-container {
  margin-top: 10px;
  margin: 20px auto;
  padding: 0px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  overflow-x: auto;
}

#empleados-crear-container {
  margin-top: 50px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
  float: left;
  margin-bottom: 20px;
}
.search-label {
  float: right;
  padding-bottom: 10xp;
}

.sr-only {
  font-size: 0;
}
#empleados-crear-container .form-label {
  float: left;
  margin-bottom: 50xp;
}
.signatureCanvas {
  border: 1px solid black;
  width: 100%;
  min-height: 500px;
}
