#navbar #dropdown-header .row:nth-child(1){
    font-size: 60px;
    color: #000;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
}

#navbar #dropdown-header .row:nth-child(2){
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
   
}
#usuario-sub-branm{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    z-index: -1;
  }
